{% block _navbar %}
<header>
    <nav>
        <div id="navbar">
            <div id="logo">
                <div>
                    <img src="/img/logo.png" alt="Caprirom">
                </div>
                
                <div id="navbar-mobile-btn" title="Expand menu">
                    <img src="/img/menu.svg" alt='expand'>
                </div>
            </div>
            
            <ul id='navbar-ul'>
                <li class='dropdown'><a href="#">Caprirom</a>
                    <ul class='submenu'>
                    <li> <a href="#s-services">Servicii</a></li>
                    <li> <a href="#s-results">Rezultate</a></li>
                    <li> <a href="#s-history">Istoric / prezentare</a></li>
                    <li> <a href="#s-rules">Regulamente</a></li>
                    <li> <a href="#s-conditions">Conditii de inscriere</a></li>
                    
                    </ul>
                </li>
                <li class='dropdown'><a href="#">Proiecte</a>
                    <ul class='submenu'>
                    <li> <a href="#">Proiectul 1</a></li>
                    </ul>
                </li>
                {# <li class='dropdown'><a href="#">informatii tehnice</a>
                    <ul class='submenu'>
                    <li> <a href="#">Controlul oficial al productiei</a></li>
                    <li> <a href="#">Registrul genealogic</a></li>
                    <li> <a href="#">Conservare geofond</a></li>
                    
                    </ul>
                </li> #}
                <li class='dropdown'><a href="#">anunturi</a>
                    <ul class='submenu'>
                        <li><a href="#">Anunturi Caprirom</a></li>
                        <li><a href="#">Stiri si noutati</a></li>
                        <li> <a href="#">Galerie foto</a></li>
                    </ul>
                </li>
                <li><a href="#">contact</a></li>
                
            </ul>
            <ul id="socialmedia">
                    <li><a href="#"><img src="/img/socialmedia/64/facebook.png" alt="fb"><span>Facebook</span></a></li>
                    <li><a href="#"><img src="/img/socialmedia/64/twitter.png" alt="twitter"><span>Twitter</span></a></li>
                    <li><a href="#"><img src="/img/socialmedia/64/utube.png" alt="utube"><span>Youtube</span></a></li>
                </ul>
        </div>
    </nav>
</header>
{% endblock %}