{% block _navbar %}
<header>
    <nav>
        <div id="navbar">
            <div id="logo">
                <div id='logo-container'>
                    <img src="/img/logo.png" alt="Caprirom">
                </div>
                
                <div id="navbar-mobile-btn" title="Expand menu">
                    <img src="/img/menu.svg" alt='expand'>
                </div>
            </div>
            
            <ul id='navbar-ul'>
                <li class='dropdown'><a href="#" title='Despre Caprirom'>Caprirom</a>
                    <ul class='submenu'>
                    <li> <a href="#s-services" data-scroll="#s-apartamente">Servicii</a></li>
                    <li> <a href="#s-results">Rezultate</a></li>
                    <li> <a href="#s-history">Istoric / prezentare</a></li>
                    <li> <a href="#s-rules">Regulamente</a></li>
                    <li> <a href="#s-conditions">Conditii de inscriere</a></li>
                    
                    </ul>
                </li>
                <li class='dropdown'><a href="#" title='Proiecte'>Proiecte</a>
                    <ul class='submenu'>
                    <li> <a href="#">Proiectul 1</a></li>
                    </ul>
                </li>
                {# <li class='dropdown'><a href="#">informatii tehnice</a>
                    <ul class='submenu'>
                    <li> <a href="#">Controlul oficial al productiei</a></li>
                    <li> <a href="#">Registrul genealogic</a></li>
                    <li> <a href="#">Conservare geofond</a></li>
                    
                    </ul>
                </li> #}
                <li class='dropdown'><a href="#" title='Anunturi'>anunturi</a>
                    <ul class='submenu'>
                        <li><a href="#">Anunturi Caprirom</a></li>
                        <li><a href="#">Stiri si noutati</a></li>
                        <li> <a href="#">Galerie foto</a></li>
                    </ul>
                </li>
                <li><a href="#" title='Contact'>contact</a></li>
                <li class='li-socialmedia'>
                 <ul id="socialmedia">
                    <li><a href="#"><img src="/img/socialmedia/64/facebook.png" alt="fb" title='Facebook'><span>Facebook</span></a></li>
                    <li><a href="#"><img src="/img/socialmedia/64/twitter.png" alt="twitter" title='Twitter'><span>Twitter</span></a></li>
                    <li><a href="#"><img src="/img/socialmedia/64/utube.png" alt="utube" title='Youtube'><span>Youtube</span></a></li>
                </ul>
                </li>
            </ul>
           
        </div>
    </nav>
</header>
{% endblock %}