@use 'config';
@use 'sizing';

  .btn-primary {
    @extend %btn;
    @include config.set-background(lighten(config.$primary-color, 10%));
  }
  
  .btn-secondary {
    @extend %btn;
    @include config.set-background(config.$secondary-color);
  }
.pagination-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.pagination {
  min-width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;

  li:nth-of-type(2) {
    flex:1;
    text-align: center;
    
    span {
      padding: .1em;
    }
  }

  li {
    padding: .5em;
  }
  img {
    min-height: 20px;
    background-color: rgb(175, 175, 175);
    padding: .8em 1em;
    border-radius: 50%;
    transition: ease-out .3s all;
  }
  img:hover {
    background-color: gray;
  }
  .disabled {
    span > img {
      background-color: rgba(175, 175, 175, 0.24) !important;
    }
  }
}

.page-item {
  border-radius: 5%;
}