{% extends 'base.html.twig' %}

{% block title %}Caprirom - Bine ati venit{% endblock %}
{% block body %}
<div class="container">
    <h1>test</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione eligendi, nulla minus ut libero enim voluptas magnam et repellat sit reiciendis vitae veritatis distinctio cupiditate pariatur. Nostrum eos nemo architecto?</p>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
    <h2>Lorem, ipsum dolor t cum, iste accusantium quia ad natus veritatis!</h2>

</div>

{% endblock %}
