{% extends 'base.html.twig' %}

{% block title %}Caprirom - Bine ati venit{% endblock %}
{% block body %}

{# banner start #}
<div id="banner">
    {# first slide #}
    <div class='banner-slide container'>
        <div class='banner-content'>
            <div>
                <img src="/img/logo.png" alt="Caprirom">
             
            </div>
            <div>
                
                ASOCIATIA NATIONALA A CRESCATORILOR DE CAPRE DIN ROMANIA “CAPRIROM”, 
                la dispozitia dumneavoastra din 1993</span>
            </div>
            <div>
                <span class='banner-btn-secondary'>Peste 1400 membri</span>
                <span class='banner-btn-secondary'>Peste 200.000 de capre</span>
            </div>             
            
        </div>
        <div class="banner-img">

                <img src="/img/goat1.png" alt="Caprirom">

        </div>
    </div>
    {# second slide #}
    <div class='banner-slide container'>
        <div class='banner-content'>
            <div>
               <span class='banner-btn-primary'>ANCC - "CAPRIROM"<br>
                <span>OBIECTIVE</span>
            </div>
            <div>
                <span>Cointeresarea crescătorilor de capre<br>
                    Aplicarea de măsuri tehnice privind ameliorarea genetică<br>
                    Acordarea de sprijin informaţional şi tehnic<br>
                </span>
            </div>
        </div>
        <div class="banner-img">

                <img src="/img/goat2.png" alt="Caprirom">

        </div>
    </div>
    {# third slide #}
    <div class='banner-slide container'>
        <div class='banner-content'>
            <div>
                <span class='banner-btn-primary'>Apărăm drepturile și interesele crescătorilor de capre</span>
            </div>
            <div>
                <span class='banner-btn-primary'>Înființăm filiale zonale Caprirom în toate județele țării</span>
            </div>
            <div>
                <span class='banner-btn-primary'>Asigurăm intermedieri și anunțuri între membrii asociației</span>
            </div>
        </div>
        <div class="banner-img">

                <img src="/img/goat3.png" alt="Caprirom">

        </div>
    </div>
</div>
    {# end of banner #}
<section id='s-services' class='container'>
    <h1>Servicii</h1>
    <div>
        <h2>CONDUCEREA REGISTRULUI GENEALOGIC</h2>
        <p>la rasele de caprine : Carpatina, Alba de Banat, Saanen, Alpina Franceza, Anglo-Nubian, Murciano-Granadina</p>
    </div>
        <div>
        <h2>CONTROLUL OFICIAL AL PRODUCTIEI</h2>
        <p>de lapte la Carpatina, Alba de Banat, Saanen, Alpina Franceza, Anglo-Nubian, Murciano-Granadina</p>
    </div>
        <div>
        <h2>ORGANIZAREA DE ACŢIUNI TEHNICE</h2>
        <p>privind creşterea performanţelor productive şi reproductive folosind tehnici moderne de reproducţie prin însămânţare artificială.</p>
    </div>
</section>

<section id='s-results' class='container'>
    <h1>Rezultate</h1>
    <div>
        <h2>Lista beneficiarilor COP</h2>
        <div class="download-btn">
            <a href='#'><span>2020</span></a>
            <a href='#'><span>2019</span></a>
            <a href='#'><span>2018</span></a>
            <a href='#'><span>2017</span></a>
            <a href='#'><span>2016</span></a>
        </div>
    </div>
    <div>
        <h2>Lista beneficiarilor RG</h2>
        <div class="download-btn">
            <a href='#'><span>2020</span></a>
            <a href='#'><span>2019</span></a>
            <a href='#'><span>2018</span></a>
            <a href='#'><span>2017</span></a>
            <a href='#'><span>2016</span></a>
        </div>
    </div>
    <div>
        <h2>Valoarea de ameliorare</h2>
        <div class="download-btn">
            <a href='#'><span>2020</span></a>
            <a href='#'><span>2019</span></a>
            <a href='#'><spsan>2018</span></a>
            <a href='#'><span>2017</span></a>
            <a href='#'><span>2016</span></a>
        </div>
    </div>
</section>
<section id='s-history' class='container'>
    <h1>Istoric/prezentare</h1>
    <div>
        <h2>ANCC Caprirom - istoric</h2>
        <div class='extended-read'>
            <p>ANCC-“CAPRIROM” s-a înfiinţat în anul 1993, la iniţiativa unor specialişti şi crescători din judeţul Constanţa. În primii ani de la înfiinţare, aşa cum s-a întâmplat şi cu alte asociaţii profesionale, crescătorii de capre au privit cu neîncredere această asociaţie. 
            Începând cu anul 1996, Caprirom, a fost şi este tot mai mult solicitată în acordarea de asistenţă tehnică şi consultanţă pentru fermieri şi crescători privaţi. În prezent, numărul membrilor asociaţiei este de 1400, însă numărul celor care iau legătura cu noi este foarte mare.</p>
            <p>
            Asociaţia Caprirom este o organizaţie profesională, care reuneşte prin liberă adeziune crescătorii de capre, persoane fizice sau juridice interesate să desfăşoare activităţi tehnice şi economice privind ameliorarea, apărarea sănătăţii caprinelor, valorificarea producţiilor şi apărarea intereselor crescătorilor de capre. Caprirom, funcţioneză ca o organizaţie cu personalitate juridică, având cont propriu în bancă şi se autofinanţează, din surse proprii constituite, în principal, din taxe de înscriere, cotizaţiile membrilor şi mai puţin din donaţii sau sponsorizări.
            </p>
            <span>citeste mai mult ...</span>
        </div>
    </div>
    <div>
        <h2>Obiective</h2>
        <div class='extended-read'>
            <p>Obiectivele asociaţiei Caprirom sunt:
                - cointeresarea crescătorilor de capre pentru sporirea numerică a efectivelor şi a performanţelor de producţie şi reproducţie, în scopul creşterii veniturilor proprii;
                - aplicarea unor măsuri tehnice privind ameliorarea genetică, folosind biotehnici de reproducţie, in mod deosebit inseminarea artificială;
                - acordarea de sprijin informaţional şi tehnic pentru valorificare diversificată a producţiilor de la caprine;
                - sprijinirea crescătorilor în activităţi de aprovizionare cu furaje, medicamente şi consumabile specifice caprinelor;
                - organizarea de mese rotunde, conferinte, comunicari şi publicaţii privind promovarea celor mai noi informaţii stiinţifice şi practice în domeniul creşterii caprinelor, promovarea productiilor de la caprine , in scopul dezvoltării gustului populatiei pentru a consuma carne preparate din carne ce capră, lapte şi brănzeturi din lapte de capră;
                - asigurari de intermedieri şi anunţuri între membrii asociaţiei privind schimbul sau vînzarea reproucători masculi şi femele;
                - infiintarea de filiale zonale Caprirom in toate judetele ţării, în special  în acelea unde se cresc un număr mare de caprine ;
                - apărarea drepturilor şi intereselor crescătorilor de capre, în raport cu diverse organisme guvernamentale sau neguvernamentale.<p>
            </p>
            <span>citeste mai mult ...</span>
        </div>
    </div>
    <div>
        <h2>Parteneri</h2>
        <div class='extended-read'>
            <p>Asociatia noastra a fost recunoscuta de organismele guvernamentale si a fost un partener serios in relatia cu MADR, ANZ, ANCA, ARMRGA etc. Din aceste motive Caprirom a obtinut acreditarea de conducere a registrului genealogic la majoritatea raselor crescute in tara si de a efectua controlul productiilor la aceste caprine.<p>
            Asociaţia Caprirom este o organizaţie profesională, care reuneşte prin liberă adeziune crescătorii de capre, persoane fizice sau juridice interesate să desfăşoare activităţi tehnice şi economice privind ameliorarea, apărarea sănătăţii caprinelor, valorificarea producţiilor şi apărarea intereselor crescătorilor de capre. Caprirom, funcţioneză ca o organizaţie cu personalitate juridică, având cont propriu în bancă şi se autofinanţează, din surse proprii constituite, în principal, din taxe de înscriere, cotizaţiile membrilor şi mai puţin din donaţii sau sponsorizări.
            </p>
            <p>
                Din anul 2000, asociaţia noastră este afiliată la Asociaţia Internaţională a Caprelor (IGA,  www.goatworld.org ) de la care primim un sprijin informaţional preţios. Asociaţia s-a implicat în toate conferinţele electronice efecuate de IGA, si a participat cu propuneri sau proiecte concrete. 
            </p>
            <span>citeste mai mult ...</span>
        </div>
    </div>
</section>

<section id='s-rules' class='container'>
    <h1>Regulamente</h1>
    <div>
        <h2>Legislatia in vigoare</h2>
        <p>
            HG1179/2014 - privind instituirea unei scheme de ajutor de stat în sectorul creșterii animalelor<br>
            Ordinul nr.619/2015 - Pentru stabilirea criteriilor de eligibilitate, condițiilor specifice și a modului de implementare a schemelor de plăţi<br>
            Ordinul nr.22/2006 - normele de apreciere a ovinelor si caprinelor de reproductie<br>
            Regulamentul European 1012/2016 - privind condițiile zootehnice și genealogice aplicabile ameliorării animalelor de reproducție de rasă pură<br>
            Regulamentul RG - regulamentul de organizare si functionare al Registrului Genealogic pentru caprine<br>
        </p>
    </div>
        <div>
        <h2>Descarcă documente</h2>
        <div class="download-btn">
            <a href='#'><span> HG1179/2014</span></a>
            <a href='#'><span> Ordinul 619/2015</span></a>
            <a href='#'><span> Ordinul 22/2006</span></a>
            <a href='#'><span> Regulamentul European 1012/2016</span></a>
        </div>
    </div>
</section>

<section id='s-conditions' class='container'>
    <h1>Condiții de înscriere</h1>
    <div>
        <h2>Acte necesare pentru inscrierea in asociatie:</h2>
        <p>
            1. Adeziune – anexa 3 ROF – pt crescătorii nou intrați<br>
            2. Cerere intrare COP-RG – anexa 2 ROF<br>
            3. Copie Carte identitate – persoane fizice<br>
            4. Copie CIF – persoane juridice – trebuie să existe specificat codul CAEN 0145 sau 0150- în caz contrar se atasează Certificatul constatator în care este specificată activitatea de Creștere a caprinelor.<br>
            5. Lista de animale actualizată – vizata de medicul veterinar concesionar<br>
            6. Copie Certificate de origine (CO) pentru țapii de reproducție (Țapii cu CO utilizați la monta trebuie să fie de aceeași rasă cu caprele)<br>
            7. Declarație privind protecția datelor – semnată<br>
            8. Atestat de producător – persoane fizice<br>
        </p>
        <p>
            Documentele completate, datate și semnate se scanează si se transmit pe adresa de mail: ***@gmail.com
            După primirea documentelor se va emite factura care va fi achitată în contul * cu specificarea numelui persoanei înscrise
        </p>
        <p>
        Fiecare deținător nou înscris va fi contactat telefonic de controlorul COP pentru a stabili o vizită în fermă: inventarierea și bonitarea efectivelor de caprine. De asemenea se vor aduce la cunoștința crescătorului drepturile și obligațiile ce ii revin.
        </p>
    </div>
        <div>
        <h2>Conditie obligatorie pentru inscriere</h2>
        <p>Se inscriu in Registru Genealogic doar femele si masculi din aceasi rasa. Montele se fac numai cu masculi de rasa pura, cu respectarea raportului de maxim 1:50.</p>
    </div>
        <div>
        <h2>Descarcă documente</h2>
        <div class="download-btn">
            <a href='#'><span>consimțământ GDPR</span></a>
            <a href='#'><span>adeziune ancc caprirom</span></a>
            <a href='#'><span>cerere eliberare certificat zootehnic</span></a>
            <a href='#'><span>cerere RG/COP</span></a>
        </div>
    </div>
</section>

{% endblock %}
