{% extends 'base.html.twig' %}

{% block title %}Capriday - Welcome{% endblock %}
{% block body %}

{# banner start #}
<div id="banner" class='carousel'>
    
    {# first slide #}
    <div class='banner-slide container carousel-slide'>
        <div class='banner-content'>
            <div>
                <img src="/img/logo.png" alt="Capriday">
            </div>
            <div style='align-self:center'>
                <h3 class='not-after' style="line-spacing:0;text-transform:initial;font-size:1.1em;">
                Romanian National Goat Association “CAPRIDAY”</h3>
            </div>

            <div class='banner-content-split'>
                <h4 class='banner-btn-secondary'>Over 1400 members</h4>
                <h4 class='banner-btn-secondary'>Over 200.000 goats</h4>
            </div>          
        </div>
        <div class="banner-img">

                <img src="/img/goat1.png" alt="Caprirom">

        </div>
    </div>
    {# second slide #}
    <div class='banner-slide container  carousel-slide'>
        <div class='banner-content'>
            <div>
               <h3 class='banner-btn-primary'>Activities</h3>
            </div>
            <div style='margin-top:auto !important'>
                <h4>Interest of goat breeders</h4>
            </div>
            <div>
                <h4>Application of technical measures on genetic improvement</h4>
            </div>
            <div>   
                <h4> Providing informational and technical support</h4>
            </div>
        </div>
        <div class="banner-img">

                <img src="/img/goat2.png" alt="Capriday">

        </div>
    </div>
    {# third slide #}
    <div class='banner-slide container  carousel-slide'>
        <div class='banner-content'>
            <div>
               <h3 class='banner-btn-primary'>Objectives</h3>
            </div>
            <div style='margin-top:auto !important'>
                <h4 class='banner-btn-primary'>We defend the rights and interests of goat breeders</h4>
            </div>
            <div>
                <h4 class='banner-btn-primary'>Set up Capriday zonal branches all over the country</h4>
            </div>
            <div>
                <h4 class='banner-btn-primary'>We provide intermediation and announcements between the members</h4>
            </div>
        </div>
        <div class="banner-img">

                <img src="/img/goat3.png" alt="Capriday">

        </div>
    </div>
    <div class="carousel-items">
        <div class='carousel-arrow-left'><img src="/img/chev-left.svg" alt="chev-left"></div>
        <div class='carousel-arrow-right'><img src="/img/chev-right.svg" alt="chev-right"></div>
        <div class='carousel-bottom'>
            <div class='carousel-bullets'></div>
            <div class='carousel-bullets'></div>        
            <div class='carousel-bullets'></div>
        </div>
    </div>
</div>
    {# end of banner #}
<section id='s-services' class='container'>
    <h1>Services</h1>
    <div class='section-columns'>
        <div>
            <h2>MANAGEMENT OF THE GENEALOGICAL REGISTER</h2>
            <p>of the following races : Carpatina, Alba de Banat, Saanen, Alpina Franceza, Anglo-Nubian, Murciano-Granadina</p>
        </div>
        <div>
            <h2>OFFICIAL PRODUCTION CONTROL</h2>
            <p>of the milk : Carpatina, Alba de Banat, Saanen, Alpina Franceza, Anglo-Nubian, Murciano-Granadina</p>
        </div>
        <div>
            <h2>TECHNICAL ACTIONS</h2>
            <p>on increasing productive and reproductive performance using modern artificial insemination techniques.</p>
        </div>
    </div>
   
</section>
 {# <div id='background-rand-img' class='background-rand-img'>
    <img class='rand-img' style='' src="/img/subBaner.jpg" alt="Capra izvor">
</div> #}
<section id='s-results' class='container'>

    <h1>Results</h1>
    <div class='section-columns'>
        <div class='home-card'>
            <h2>List of COP beneficiaries </h2>
            <div class="download-btn">
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2020</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2019</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2018</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2017</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2016</span></a>
            </div>
        </div>
        <div class='home-card'>
            <h2>List of RG beneficiaries</h2>
            <div class="download-btn">
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2020</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2019</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2018</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2017</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2016</span></a>
            </div>
        </div>
        <div class='home-card'>
            <h2>Improvement value</h2>
            <div class="download-btn">
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2020</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2019</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2018</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2017</span></a>
                <a href='/demo.pdf' target="_blank"><span class='btn-primary'>2016</span></a>
            </div>
        </div>
    </div>
   
</section>

<section id='s-history' class='container'>
    <h1>History - presentation</h1>
    <div>
        <h2>Capriday - history</h2>
        <div class='text-expand maxH-50'>
            <div>
                <p>Capriday was founded in 1983, at the initiative of specialists and breeders. In the early years of its establishment, as with other professional associations, goat breeders viewed this association with distrust.
                 Since 1996, Capriday has been and is increasingly in demand for technical assistance and advice for farmers and private breeders. Currently, the number of members of the association is 1400, but the number of those who contact us is very high.</p>
                <p>
                The Capriday Association is a professional organization, which brings together by free membership goat farmers, individuals or legal entities interested in carrying out technical and economic activities on improving, defending the health of goats, capitalizing on production and defending the interests of goat breeders. Capriday, operates as an organization with legal personality, having its own bank account and is self-financing, from its own sources consisting mainly of registration fees, membership fees and less from donations or sponsorships.
                </p>
            </div>
        </div>
        <div class="text-expand-button"><b>... more</b></div>
    </div>
    <div>
        <h2>Objectives</h2>
        <div class='text-expand maxH-50'>
            <div>
                <p>The objectives of the Capriday association are:
                    - the interest of goat breeders for the numerical increase of the herds and of the production and reproduction performances, in order to increase their own income;
                    - application of technical measures regarding genetic improvement, using reproductive biotechnologies, especially artificial insemination;
                    - providing informational and technical support for diversified capitalization of goat production;
                    - supporting breeders in supply activities with goat-specific feed, medicines and consumables;
                    - organization of round tables, conferences, communications and publications on the promotion of the latest scientific and practical information in the field of goat breeding, promotion of goat production, in order to develop the taste of the population to consume meat prepared from goat meat, milk and milk cheeses goat;
                    - insurance of intermediaries and announcements between the members of the association regarding the exchange or sale of male and female reproaches;
                    - the establishment of Capriday zonal branches in all counties of the country, especially in those where a large number of goats are raised;
                    - defending the rights and interests of goat breeders, in relation to various governmental or non-governmental bodies.<p>
                </p>
            </div>
        </div>
        <div class="text-expand-button"><b>... more</b></div>
    </div>
    <div>
        <h2>Associates</h2>
        <div class='text-expand maxH-50'>
            <div>
                <p>Our association has been recognized by government agencies and has been a serious partner in the relationship with MADR, ANZ, ANCA, ARMRGA, etc. For these reasons, Capriday has obtained the accreditation to lead the genealogical register for most breeds bred in the country and to control the production of these goats. <p>
                 The Capriday Association is a professional organization, which brings together by free membership goat farmers, individuals or legal entities interested in carrying out technical and economic activities on improving, defending the health of goats, capitalizing on production and defending the interests of goat breeders. Capriday, operates as an organization with legal personality, having its own bank account and is self-financing, from its own sources consisting mainly of registration fees, membership fees and less from donations or sponsorships.
                </p>
                <p>
                    Since 2000, our association has been affiliated with the International Goat Association (IGA, www.goatworld.org) from which we receive valuable information support. The association has been involved in all e-conferences conducted by IGA, and has participated with concrete proposals or projects.
                </p>
            </div>
        </div>
        <div class="text-expand-button"><b>... more</b></div>
    </div>
</section>

<section id='s-rules' class='container'>
    <h1>Regulations</h1>
    <div class='text-expand maxH-120'>
        <div>
            <h2 class='no-fl'>Legislation in force</h2>
            <p>
                HG1179 / 2014 - on the establishment of a state aid scheme in the livestock sector <br>
                Order no.619 / 2015 - For establishing the eligibility criteria, the specific conditions and the way of implementing the payment schemes <br>
                Order no. 22/2006 - the norms for the appreciation of sheep and goats for breeding <br>
                European Regulation 1012/2016 - on zootechnical and genealogical conditions applicable to the breeding of pure-bred breeding animals <br>
                RG Regulation - the organization and functioning regulation of the Genealogical Register for goats <br>
            </p>
        </div>
    </div>
    <div class="text-expand-button"><b>... more</b></div>
    <div>
        <h2 class='no-fl'>Download documents</h2>
        <div class="download-btn">
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'> HG1179/2014</span></a>
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'> Order 619/2015</span></a>
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'> Order 22/2006</span></a>
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'> European Regulation 1012/2016</span></a>
        </div>
    </div>
</section>

<section id='s-conditions' class='container'>
    <h1>Registration conditions</h1>
    <div class='text-expand maxH-120'>
        <div>
            <h2 class='no-fl'>Documents required for registration in the association:</h2>
            <p class='no-fl'>
                1. Adhesion - Annex 3 ROF - for newly entered members<br>
                2. Entry request COP-RG – Annex 2 ROF<br>
                3. Copy of ID card – individuals<br>
                4. CIF copy - legal entities - there must be a specified CAEN code 0145 or 0150 - otherwise the ascertaining Certificate is attached in which the activity of Raising goats is specified.<br>
                5. Updated list of animals - endorsed by the licensed veterinarian<br>
                6. Copy of Certificates of Origin (CO) for breeding goats (CO goats used for breeding must be of the same breed as goats)<br>
                7. Data protection statement - signed<br>
                8. Manufacturer's certificate - individuals<br>
            </p>
            <p>
                Completed, dated and signed documents are scanned and sent to the email address: capriday@gmail.com
                 After receiving the documents, the invoice will be issued, which will be paid into the account * specifying the name of the registered person.
            </p>
            <p>
            Each newly registered owner will be contacted by telephone by the COP controller to arrange a visit to the farm: inventory and crediting of goat herds. The breeder's rights and obligations will also be brought to the attention of the breeder.
            </p>
        </div>
    </div>
    <div class="text-expand-button"><b>... more</b></div>
        <div>
        <h2 class='no-fl'>Mandatory condition for registration</h2>
        <p>Only females and males of the same breed are registered in the Genealogical Register. The mountain is made only with purebred males, respecting the ratio of maximum 1:50.</p>
    </div>
        <div>
        <h2 class='no-fl'>Download documents</h2>
        <div class="download-btn">
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'>GDPR consent</span></a>
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'>adhesion Capriday</span></a>
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'>application for the issue of a zootechnical certificate</span></a>
            <a href='/demo.pdf' target="_blank"><span class='btn-primary'>adhesion RG/COP</span></a>
        </div>
    </div>
</section>

{% endblock %}
