{% block _navbar %}
<footer>
    <div class='footer-main-div'>
        <div class='footer-details'>
            <h5>Capriday association</h5>
            <div>
                <span><img src="/img/location.svg" alt='location'>Bucharest, str. I.C. Bratianu nr. 48</span>
            </div>
            <div>
                <span><img src="/img/cui.svg" alt='cui'>CIF 2469432</span>
            </div>
            <div>
                <span><img src="/img/bank.svg" alt='bank'>BCR Bank</span>
            </div>
            <div>
                <span><img src="/img/iban.svg" alt='iban'>Account ROXX XXXX XXXX XXXX XXXX XXXX</span>
            </div>
        </div>
        <div class="footer-links">
            <h5>Useful links</h5>
            <div>
                <span><a href='https://anarz.eu'>ANZ</a></span>
            </div>
             <div>
                <span><a href='https://madr.ro'>MADR</a></span>
            </div>
             <div>
                <span><a href='https://afir.info'>AFIR</a></span>
            </div>
             <div>
                <span><a href='https://apia.org.ro'>APIA</a></span>
            </div>
        </div>
        <div class="footer-contact">
            <h5>Contact</h5>
            <div>
                <span><img src="/img/phone.svg" alt='phone'>Mobil: <a href='tel:0739869984'>0739869984</a></span>
            </div>
            <div>
                <span><img src="/img/fax.svg" alt='fax'>Tel./Fax.: <a href='tel:0444873135'>0444873135</a></span>
            </div>
            <div>
                <span><img src="/img/email.svg" alt='email'><a href='mailto:capriday@gmail.com'>Email:capriday@gmail.com </a></span>
            </div>
            <div>
                <span><img src="/img/site.svg" alt='site'><a href='www.capriday.ro'>Website: lucianturlea.capriday.ro</a></span>
            </div>
        </div>
    </div>
    <div class='footer-submain-div'>
        <div><span><a href="{{ path('home') }}">Home</a></span></div>
        <div><span><a href="{{ path('terms') }}">Terms and conditions</a></span></div>
        <div><span><a href="{{ path('contact') }}">Contact</a></span></div>  
    </div>
    <div class='footer-submain-div'>
     <div><span>© Capriday {{ "now"|date('Y') }} | designed by <a href='https://lucianturlea.ro'>lucianturlea.ro</a></span></div>
     </div>

</footer>
{% endblock %}