{% block _navbar %}
<footer>
    <div class='footer-main-div'>
        <div class='footer-details'>
            <h5>ANCC - "CAPRIROM"</h5>
            <div>
                <span><img src="/img/location.svg" alt='location'>Constanta, str. I.C. Bratianu nr. 248</span>
            </div>
            <div>
                <span><img src="/img/cui.svg" alt='cui'>CIF 14698494</span>
            </div>
            <div>
                <span><img src="/img/bank.svg" alt='bank'>Banca BCR</span>
            </div>
            <div>
                <span><img src="/img/iban.svg" alt='iban'>Cont ROXX XXXX XXXX XXXX XXXX XXXX</span>
            </div>
        </div>
        <div class="footer-links">
            <h5>LINK-URI UTILE</h5>
            <div>
                <span><a href='https://anarz.eu'>ANZ</a></span>
            </div>
             <div>
                <span><a href='https://madr.ro'>MADR</a></span>
            </div>
             <div>
                <span><a href='https://afir.info'>AFIR</a></span>
            </div>
             <div>
                <span><a href='https://apia.org.ro'>APIA</a></span>
            </div>
        </div>
        <div class="footer-contact">
            <h5>DATE DE CONTACT</h5>
            <div>
                <span><img src="/img/phone.svg" alt='phone'>Mobil: <a href='tel:0727869984'>0727869984</a></span>
            </div>
            <div>
                <span><img src="/img/fax.svg" alt='fax'>Tel./Fax.: <a href='tel:0372873135'>0372873135</a></span>
            </div>
            <div>
                <span><img src="/img/email.svg" alt='email'>Email:caprirom@yahoo.com</span>
            </div>
            <div>
                <span><img src="/img/site.svg" alt='site'>Website: www.caprirom.ro</span>
            </div>
        </div>
    </div>
</footer>
{% endblock %}