{% extends 'container.html.twig' %}

{% block title %}Anunturi{% endblock %}

{% block container %}
    <h1>Anunturi</h1>

    {{ include('admin/post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}">back to list</a>

    {{ include('admin/post/_delete_form.html.twig') }}
{% endblock %}
