{% extends 'container.html.twig' %}

{% block title %}Anunturi{% endblock %}

{% block container %}
    <div>
        <h1>Add announces</h1>

        {{ include('admin/post/_form.html.twig') }}

        <a href="{{ path('post_index') }}">back to list</a>
    </div>
{% endblock %}
