{% extends 'container.html.twig' %}

{% block title %}Anunturi{% endblock %}

{% block container %}
    <h1>Anunturi adauga</h1>

    {{ include('admin/post/_form.html.twig') }}

    <a href="{{ path('post_index') }}">back to list</a>
{% endblock %}
