{% block loginbar %}
<div id='loginbar'>
    <div>
        <span>You are logged in as <b>{{ app.user.username }}</b></span><br>
      
    </div>
    <div>
        <a class='abtn' href="{{ path('admin') }}" title='switch to administration panel'>
        <div class='btn'>
           <span>Switch to admin mode</span>
        </div>
        </a>
        <div class="minimize">
            <div><img src="/img/chev-left.svg" alt="chev-left" title='minimize'></div>
            <div><img src="/img/chev-right.svg" alt="chev-right" title='expand'></div>
        </div>
    </div>
   
</div>
{% endblock %}