$font-stack: "Open Sans", sans-serif;
$menu-bg: #ffffff;
$menu-color: #838383;
$menu-bg-hover:  #f6f6f6;

$light-color: #f4f4f4;
$primary-color: #0e6cff;
// $primary-color: #e0ffff;
$secondary-color: #ff8700;

//navbar height
$navbar-height:3em;


// Set text color based on bg
@function set-text-color($color) {
    @if(lightness($color) > 70) {
      @return #333;
    } @else {
      @return #fff;
    }
  }
  
  // Set background & text color
  @mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
  }
