@use "config";
@use "sizing";
@use "buttons";

html {
  font-size: 15px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  background-color: config.$body-color;
  font-family: config.$font-stack;
  font-size: 1.125em;
  cursor: default;
  line-height: 1.6;
  width: 100%;
  color: config.$text-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p::first-letter {
  padding-left: 2rem;
}

.no-fl::first-letter {
  padding-left:0;
}
ul {
  list-style: none;
}

h1 {
  font-size: clamp(1.700rem, calc( 1rem + 2.200vw ), 2.300rem);
  }
  
h2 {
font-size: clamp(1.400rem, calc( 1rem + 1.600vw ), 1.800rem);
}

h3 {
font-size: clamp(1.140rem, calc( 1rem + 1.200vw ), 1.500rem);
}

h4 {
font-size: clamp(1.000rem, calc( 1rem + 0.800vw ), 1.200rem);
}

p {
font-size: clamp(0.920rem, calc( 1rem + 0.480vw ), 1.000rem);
}

span, a {
font-size: clamp(0.800rem, calc( 1rem + 0.320vw ), 0.900rem);
}

// END OF GENERAL CSS




// @import "media";
