@use "config";
@use "sizing";
@use "buttons";

html {
  font-size: 15px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  background-color: config.$body-color;
  font-family: config.$font-stack;
  font-size: 1.125em;
  cursor: default;
  line-height: 1.6;
  width: 100%;
  color: config.$text-color;
}




img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p::first-letter {
  padding-left: 2rem;
}

.no-fl::first-letter {
  padding-left:0;
}
ul {
  list-style: none;
}

h1 {
  font-size: clamp(1.700rem, calc( 1rem + 2.200vw ), 2.300rem);
  }
  
h2 {
font-size: clamp(1.400rem, calc( 1rem + 1.600vw ), 1.800rem);
}

h3 {
font-size: clamp(1.140rem, calc( 1rem + 1.200vw ), 1.500rem);
}

h4 {
font-size: clamp(1.000rem, calc( 1rem + 0.800vw ), 1.200rem);
}

p {
font-size: clamp(0.920rem, calc( 1rem + 0.480vw ), 1.000rem);
}

span, a {
font-size: clamp(0.800rem, calc( 1rem + 0.320vw ), 0.900rem);
}

// END OF GENERAL CSS
//  START OF NAVBAR
nav {
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: config.$menu-bg;
  text-transform: uppercase;
  color: config.$menu-color;
  font-size: .75em;
  font-weight: 400;
  line-height: 20px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);

  #navbar {
    width: min(1100px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: sizing.$navbar-height;
    text-align: center;

    > ul {
      position: absolute;
      align-self: stretch;
      justify-content: flex-end;
      display: none;
      flex-direction: column;
      flex:1;
      flex-wrap: wrap;
      min-height: sizing.$navbar-height;
      top: sizing.$navbar-height;
      z-index: 100;
      background-color: config.$menu-bg;
      width: 100%;
      left:0;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s all ease-out;
    
    }
    
    a {
      color:inherit;
      height: 100%;
      min-width: 100%;
      padding: 1rem 2.15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
  
    }

    li:hover {
      background-color: config.$menu-bg-hover;
    }
  }
}

#logo {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex:1;
  width: 100%;
  flex-shrink: 0;
  padding-top:15px;
  padding-bottom: 15px;


  img{
    max-width: none;
    max-height:40px;
    padding:0px 20px;
    cursor: pointer;
  }
}

#logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-mobile-btn {
  box-sizing: content-box;
  position: absolute;
  right:20px;
  background-color: config.$bullet-active;
  padding:.75rem .75rem;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // margin-bottom:.2rem;
  

  img {
    max-width:1.5rem;
    padding:0;
  }
}   

.dropdown {
  position: relative;
  flex-direction: column;
  
}

.dropdown > a::after {
  content: "\02C7";
  font-size: 1.5em;
  padding-left:.5em;
  padding-top:.5em;
  text-align: right;
  float:right;
  
}


.submenu {
  display: none;
  width: 100%;
  flex-direction: column;
  z-index:10;
  background-color: config.$menu-bg;
  text-align: left;
  
  a {
    justify-content: flex-start !important;
    padding-left:calc(50% - 1rem) !important;
  }
}


.submenu > li {
  background-color: config.$menu-bg-hover;
  text-align: right;
  text-transform: capitalize;
  
}
.submenu > li:hover {
  color: darken(config.$menu-color, 40%);

}

.submenu > li a::after {
  content: "\203A";
  font-size: 1.5em;
  padding-left:.5em;
  padding-bottom: .2em;
  text-align: right;

}

li.li-socialmedia:hover {
  background-color: initial !important;
}

#navbar #socialmedia {
  display: none;
  flex-direction: row;
  flex:0;
  justify-content: center;
  align-items: center;
  
  a {
      padding: .4rem .6rem !important;
      max-width: none;
  }

  img {
      max-width: 50px;
      padding: .2rem .3rem !important;
  }

  span {
      display: none;
  }
}

// END OF NAVBAR



//  START OF SECTIONS 

#banner {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  // min-height: $banner-calc;
  min-height: sizing.$banner-height;
  background-color: config.$banner-color;

  h3 {
    font-family: config.$font-stack-secondary;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    
  }



  h3:after {
    content:"\27B2";
    font-size: 1.5em;
    padding-bottom: .1em;
    padding-left: .3em;
    color:config.$color-primary;
  }
  h3.not-after:after {
    content:"";
  }

 
 
  h4 {
    font-weight: lighter;
    text-align: start;
    background-color: config.$color-primary;
    padding: .4rem .6rem;
    text-align: flex-start;
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.175);
    color:white;
 
  }
  h4:before {
    content: "\2714";
    padding-right:.4em;
  }
}

.banner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex:1;
  background-color: config.$banner-color;

  > div {
    padding:.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  > div:nth-of-type(1) {
    align-self: center;
  }

  img {
    max-width: min(400px, 90%);
    max-height: 70px;
  }
  .banner-content-split {

    display: flex;
    flex:1;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
    

    h4 {
      
      justify-content: center;
      margin:0 .5em;
      font-size: 1em;
      max-width: 300px;
    }
  }
}

.banner-img {
  flex:1;
  flex-grow: .3;
  flex-shrink: .6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 100%;
  height:auto;

  img {
    display: flex;
    justify-content: center;
    align-items:center;
    flex:1;
    width: auto;
    max-height: 270px;
  }
}


.download-btn {

  span::before {
    content:"\2B07";
    padding-right:.4em;
    
  }
}
// end of banner

section {
  display: flex;
  flex-direction: column;
  padding-top: 5em !important;
  padding-bottom: 5em !important;

  h1 {
    
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.1rem;
  }

  h1:after {
    content:"\2304";
    position:absolute;

    left:50%;
    vertical-align: text-top;
    bottom:-40%;
    width: 1em;
    transform: translate(-50%);
    font-size: .85em;
    font-weight: lighter;
  }
  h2 {
    text-transform: lowercase;
    font-family: config.$font-stack-secondary;
    font-weight: lighter;
    // font-weight: lighter;
    
  }
  h2::first-letter {
    text-transform: uppercase;
    padding-left: 2rem;
  }
  

  > div {
    display: flex;
    flex-direction: column;
    padding: sizing.$c-padding-h 0;
  }
}
.rand-img {
  margin-top: 2em;
  border-radius: 7px;
  align-self: center;
  box-shadow: 0 0 12px 0 rgba(221, 221, 221, 0.781);
}
#s-services, #s-results {
  ::first-letter {
    padding-left:0;
  }
}
#s-results, #s-rules {
  text-align: center;
  width: 100%;
  max-width: 100%;
  background-color: config.$banner-color;

}

.download-btn span{
  background-color: config.$primary-color;
  color:config.$body-color;
}
  .showcase {
    @include config.set-background(config.$primary-color);
    height: 600px;
  
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      ul {
        display: flex;
        list-style-type: none;
      }
  
      li {
        padding: 15px;
      }
  
      a {
        color: set-text-color(config.$primary-color);
      }
  
      a:hover {
        color: config.$secondary-color;
      }
    }
  
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
  
      img {
        width: 50%;
      }
  
      h1 {
        font-size: 50px;
        line-height: 1.2;
      }
    }
  }


#loginbar {
  display: flex;
  flex-direction: column;

  position: fixed;
  align-items: center;
  justify-content: center;
  bottom:0;
  left:0;
  min-height:40px;
  background-color: rgb(230, 230, 230);
  padding:.5em 1em;
  border-top-right-radius: 15px;
  box-shadow: 0 0 5px 0 rgb(109, 109, 109);

  .btn {
    background-color: config.$primary-color;
    box-shadow: 0 0 5px 0 rgb(109, 109, 109);
    color:config.$body-color;
    border-radius: 5px;
    padding:.5em 1em;
    align-self: flex-start;
    cursor: pointer;
  }

  a {
    color:inherit;
  }

  > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
  }
  .minimize {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:.5em 1em;
    background-color: config.$primary-color;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 1em;

    > div:nth-of-type(2) {
      display: none;
    }
  }
}

footer {
  min-height: 180px;
  background-color: rgb(104, 104, 104);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// *{
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }
// html{
//     /* width: 100vw; */

//     background-color: config.$mainBg;
//     margin:0 auto;

//     padding:0;
//     width: 100%;
//     max-width: 2200px;
    
    
// }
// div{
//     margin:0;
//     padding:0;
// }
// body{
//     /* background-color: rgba(0, 0, 0, 0.932); */
//     margin:0;
//     padding:0;
//     color: config.$primaryColor;
//     font-family: config.$primaryFontFamily;

  
    
// }
// ul{
//     margin:0;
//     padding:0;
//     list-style: none;
//     color:white;
// }
// #overlay{
//     position: fixed;
//     top:50%;
//     left:50%;
//     z-index: 100;
// }
// #overlay img{
//     width: 70px;
// }

// .terminal{
//     /* font-family:"Ubuntu mono"; */
//     color:white;
// }
// .terminal-green{
//     color:#89d42f;
// }

// #main-matrix{
//     width: 100%;
//     height: 100vh;
//     position:fixed;
//     z-index: 100;
//     opacity:0;
//     padding:3%;
// }
// #main{
//     position: relative;
//     opacity:0;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     flex-direction: row;
//     flex-basis: 200px;
//     background-image: url("/public/img/bg.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
    
//     background-position: center;
// }
// #main-absolute{
//     position: absolute;

  
// }
// #main-absolute img{
//     width: 30px;
//     background-color: rgba(255, 0, 0, 0);
    
// }
// #svg-animations{
//     position: absolute;
//     top:0;
//     left:0;
//     width: 100%;
//     height:100%;
//     background-color: rgb(255, 255, 255);
//     border-radius: 15%;
// }

// #svg-animations img{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     box-sizing: border-box;
//     opacity: 0;
//     border-radius: 15%;
//     background-color: rgb(255, 255, 255);

   
// }
// #svg-animations img:first-child{
//     opacity: 1;
// }

// #main-left{
//     background-image: linear-gradient(90deg, rgb(14, 14, 14), rgba(14, 14, 14, 0.43), rgba(63, 63, 63, 0.164));
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     flex:.2;
//     height:100%;
//     position: relative;
// }
// #menulist{
//     flex: .75;
//     display: flex;
//     align-items: flex-end;
//     margin-top:auto;
//     border-bottom: 1px solid rgba(128, 128, 128, 0.616);
// }
// #menulist ul{
//     display: flex;
//     justify-content: flex-start;
//     flex-direction: column;
//     flex:1;
//     height: 70%;
//     padding:3em;
// }
// #menulist ul li{
//     padding:.75em;
//     font-size: 1.1em;
//     cursor: pointer;


// }
// #menulist ul li:hover{
//     color:#89d42f;
//     transition:.3s;
//     padding-left:5%;

// }
// .logo{
//     /* position:absolute;
//     width: 100%;
//     top:2%;
//     display: flex;
//     flex:1;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center; */
// }
// .logo img{
//     width: 100%;
// }
// .logo > div{
//     flex:1;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 90%;
//     padding:1% 5%;
// }
// .tags{
//     display:flex;
//     flex-direction: row;
//     justify-content: center;


// }
// .tags > div{
//     margin: .1em .35em;
//     flex:0 0 auto;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding:.33em .55em;
//     border-radius: .75em;
//     background-color: rgba(9, 121, 43, 0.918);
//     font-size: .8em;
// }
// #main-right{
//     flex:.7;

// }
// #social-media{
//     position: absolute;
//     bottom:0%;
//     height: 33%;
//     width: 100%;
//     background-image: linear-gradient(0deg, rgb(7, 2, 46), rgba(35, 56, 112, 0.83), rgba(2, 4, 77, 0.664));
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     box-shadow: 0px 2px 3px rgb(0, 0, 0);
// }

// div.social-media{
//     display: flex;

//     flex-direction: row;
//     justify-content: center;
//     align-items: space-around;
//     font-size: .7em;
//     text-align: center;

// }
// div.social-media > div{
//     display: flex;
//     padding:1% 5%;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: center;
//     cursor: pointer;
//     text-transform: capitalize;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.288);
// }
// .social-media img{
//     width: 30px;
//     height: 30px;
//     padding:1em;
    
// }

@import "media";
