{% extends 'base.html.twig' %}

{% block title %}Anunturi{% endblock %}

{% block body %}
<section id='s-newscaprirom'>

</section>
<section id='s-news'>

</section>
<section id='s-photo'>

</section>
{% endblock %}
