{% extends 'container.html.twig' %}

{% block title %}Albume{% endblock %}

{% block container %}
    <h1>Albume editare</h1>

    {{ include('admin/gallery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gallery_index') }}">back to list</a>

    {{ include('admin/gallery/_delete_form.html.twig') }}
{% endblock %}
