{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class='container'>
    <div>
        nume 
    </div>
     <div>
        prenume 
    </div>
     <div>
        email 
    </div>
    <div>
        mesaj 
    </div>

</section>
{% endblock %}
