{% extends 'container.html.twig' %}

{% block title %}Terms and conditions{% endblock %}

{% block container %}

    <h2>Terms and conditions</h2>
    <h3>General information</h3>
    <p>    This web address is strictly demonstrative, it is a project that is part of the portfolio <a href='https://lucianturlea.ro' target="_blank">the portfolio</a>, the information and documents being fictitious.
 In addition, the page allows access only to authorized persons, based on the account and password in the submitted CV, each company having a personalized user, with a term of validity (access being temporary).</p>
    <p>Account customization is required, as the application may contain document generation services as well as email sending technologies.
     The site also contains the content management area, with options for uploading and downloading files, which requires additional attention to the user's identity.</p>
    
  
    <h3>Data confidentiality</h3>
    <p>The website does not store sensitive data related to the user, the information being fictitious, except for the login file that notes the user's IP address.
     The purpose of this file is purely demonstrative, the owner of the site does not provide any information to other companies, and also does not intend to use such information in any way.
    </p>
    <h3>Cookies policies</h3>
    <p>The site uses cookie technology strictly in order to improve the user experience. Thus, information about the status of the account is temporarily stored (whether or not it is valid).</p>
    <p>The application does not provide information collected through the cookies of other companies, does not use tracking technologies, and has no digital marketing purposes.</p>
{% endblock %}
