{% extends 'container.html.twig' %}

{% block title %}Termeni si conditii{% endblock %}

{% block container %}

    <h2>Termeni si conditii</h2>
    {# <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti commodi a veritatis tempore sint ex consequuntur voluptate corporis dicta. Explicabo, obcaecati? Harum quos aspernatur odio voluptate deserunt eum accusamus magni.Quo provident neque inventore harum totam voluptate vel ipsa modi nobis soluta dolor minima dolores incidunt molestias aperiam saepe vero blanditiis, sunt pariatur commodi voluptates quos nihil. Aliquam, ad id.</p> #}
    <h3>Informatii generale</h3>
    <p>Aceasta adresa web este strict demonstrativa, este un proiect ce face parte din <a href='https://lucianturlea.ro' target="_blank">portofoliu</a>, informatiile si documentele fiind fictive.
    In plus, pagina permite accesul doar al persoanelor autorizate, pe baza contului si a parolei aflate in cv-ul depus, fiecare societate avand un utilizator personalizat, cu un termen de valabilitate (accesul fiind temporar).</p>
    <p>Este necesara personalizarea conturilor, deoarece aplicatia poate contine servicii de generare a documentelor, precum si tehnologii de trimitere a e-mailurilor.
    De asemenea, site-ul contine si zona de administrare a continutului, cu optiuni de incarcare si descarcare de fisiere, fapt ce necesita o atentie suplimentara asupra identitatii utilizatorului.</p>
    
    {# <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dicta sequi, vel nam temporibus eos vitae, iusto necessitatibus incidunt quas sint saepe quam quod et quidem suscipit tenetur ipsum alias.
    Dolores ab facere nihil id aliquam est quidem, facilis nemo repellendus sunt recusandae neque assumenda. Quasi, saepe! Laboriosam facilis, nam vel architecto ipsa, corrupti aliquam repudiandae, amet consequatur voluptatum rerum.
    Ducimus velit quidem quisquam, incidunt quos dignissimos tenetur architecto, illo sed unde ipsum obcaecati vero repellendus nam deserunt expedita culpa provident! Fuga aliquid minima eos delectus corrupti suscipit odio amet.
    Voluptatem earum magnam saepe minima molestiae mollitia architecto nostrum commodi cupiditate delectus, modi a, voluptate unde. Eligendi commodi rerum vero tenetur architecto ipsam, iure, rem autem ad distinctio sunt odio?
    Exercitationem incidunt corrupti quisquam, beatae maiores distinctio ipsam odit dicta aperiam numquam, nisi laboriosam asperiores! Vero, et? Veniam adipisci labore consequatur iusto, dolores sunt earum deserunt consectetur corrupti rerum atque?
    Perspiciatis quod vero iusto quibusdam sunt laudantium fuga, aperiam reprehenderit placeat incidunt distinctio quisquam ipsum voluptatum? Magnam voluptatem numquam assumenda odit aliquid mollitia id, quasi, neque quidem at eligendi! Perspiciatis.
    Odit reiciendis, obcaecati minus eum quidem quaerat temporibus inventore illo nam. Dicta repellat iste, ea, tempore eaque nesciunt sint dignissimos magni, ipsum modi iusto unde repellendus libero? Dignissimos, temporibus est!
    Vitae doloremque quia similique beatae, ipsum atque nihil tempore laborum sunt reiciendis cumque, dolore quaerat tenetur corporis deleniti facilis magnam placeat recusandae amet ex accusamus ipsa porro? Fuga, placeat tempore!</p> #}
    <h3>Confidentialitatea datelor</h3>
    <p>Website-ul nu stocheaza date sensibile legate de utilizator, informatiile fiind fictive, exceptie facand fisierul de logare ce noteaza adresa IP a utilizatorului. 
    Scopul acestui fisier este pur demonstrativ, detinatorul site-ului nu ofera niciun fel de informatie altor societati comerciale, si, de asemenea, nu isi propune sa foloseasca in vreun fel astfel de informatii.
    </p>
    {# <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius error nisi totam doloribus eum et rerum sunt iure facere sint earum nemo expedita doloremque, nostrum animi ut nam similique fugit!*5</p> #}
    <h3>Politicile cookies</h3>
    <p>Site-ul foloseste tehnologia cookie strict in scopul imbunatatirii experientei utilizatorului. Astfel, se stocheaza temporar imformatii despre statusul contului (daca este sau nu valabil).</p>
    <p>Aplicatia nu ofera informatii colectate prin intermediul cookie-urilor altor societati comerciale, nu foloseste tehnologii de tracking, si nu are scopuri de marketing digital.
    {# <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eos odit quibusdam blanditiis, qui voluptatum autem a rerum expedita perferendis praesentium amet velit pariatur atque nostrum, eum dolor cupiditate nam?Ratione quaerat repellendus iusto id doloribus facere consequatur eius recusandae sint temporibus quae dolor, tempore obcaecati nisi rem vel pariatur deserunt! Ex porro, praesentium quibusdam molestias consectetur molestiae eaque iusto.</p> #}
{% endblock %}
