{% block cookies %}
<div class="consent-popup none">
        <p>By using this site, you agree to our <a href="{{ path('terms') }}">Terms and conditions</a>.
            Also, please accept the cookies policy: <a class="consent-accept btn-primary" href="#">Accept </a>
        </p>
         {# <p>Folosind acest site, sunteti de acord cu  <a href="{{ path('terms') }}">Termenii si conditiile</a> noastre.
            De asemenea, va rugam acceptati politicile cookies: <a class="consent-accept btn-primary" href="#">Accept </a>
        </p> #}
    </div>
{% endblock %}