{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'container.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block container %}
    <h1>Page not found (code error 404)</h1>

    <p>
    {% if app.user.roles.0 == "ROLE_SUPERADMIN" or app.user.roles.0 == "ROLE_ADMIN" %}
        <a href="{{ path('admin') }}"> back to panel</a>.
    {% else %}
       <a href="{{ path('home') }}"> back to site</a>.
    {% endif %}
    </p>
{% endblock %}