{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'container.html.twig' %}
{% block title %}Error!{% endblock %}
{% block container %}
    <h1>Error!</h1>

    <p>
    {% if app.user.roles.0 == "ROLE_SUPERADMIN" or app.user.roles.0 == "ROLE_ADMIN" or app.user.roles.0 == "ROLE_USER" %}
        <a href="{{ path('admin') }}"> Back to panel</a>.
    {% else %}
       <a href="{{ path('home') }}"> Back to site</a>.
    {% endif %}
    </p>
{% endblock %}